* {
  margin: 0;
  padding: 0;
}

.best {
  font-size: 55px;
  font-weight: 900;
  margin-top: 240px;
  margin-left: 170px;
}
.wel {
  margin-left: 170px;
  margin-top: 30px;
  font-size: 28px;
  color: gray;
  font-weight: 800px;
  font-family: "Roboto Condensed", sans-serif;
}
.shop {
  margin-top: 70px;
  margin-left: 190px;
  width: 160px;
  border-radius: 100px;
  background: linear-gradient(
    to right,
    rgb(233, 115, 115),
    rgb(224, 60, 35),
    rgb(248, 45, 45)
  );
  

  padding: 20px;
  color: white;
  padding-left: 40px;
}



.con{
  margin-top: 20px;
  background:linear-gradient(to left ,pink,rgb(189, 115, 115),rgb(205, 92, 92),orange);
height: 240px;
width: 1518px;
margin-bottom: 100px;


}
.ht{
  font-size: 40px;
  color: #ffffff;

  position: absolute;
}

.ht1{
  font-size: 16px;
  color: #ffffff;
  margin-left: 200px;
padding-top: 30px;
  position: absolute;
}


.shop1{
  margin-top: 70px;
  margin-left: 640px;
  width: 200px;
  border-radius: 100px;
  background: linear-gradient(
    to right,
    rgb(233, 115, 115),
    rgb(224, 60, 35),
    rgb(248, 45, 45)
  );
  

  padding: 20px;
  color: white;
  padding-left: 40px;
}
.start {
  margin-top: -58px;
  margin-left: 370px;
  width: 180px;
  border-radius: 100px;
  background: white;
  border: 2px solid rgb(200, 58, 81);
  color: rgb(200, 58, 81);
  padding: 17px;

  padding-left: 40px;
}
.start:hover {
  border: 1px solid white;
  background: linear-gradient(
    to right,
    rgb(233, 115, 115),
    rgb(224, 60, 35),
    rgb(248, 45, 45)
  );
  color: white;
}

.all1{
  font-size: 19px;
  position: absolute;
  margin-top: -260px;
  margin-left: 1200px;
  border: 3px solid white;
  color: white;
  padding: 17px;
  font-weight: 600;
  border-radius: 100px;
  width: 180px;
}


.logo11 {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px 170px 200px;
  margin-top: 160px;
  margin-left: 200px;
}
.logo1 {
  transition: transform 0.5s;
  height: 25px;
}
.logo2 {
  transition: transform 0.5s;
  height: 25px;
}
.logo3 {
  transition: transform 0.5s;
  height: 25px;
}
.logo4 {
  transition: transform 0.5s;
  height: 25px;
}
.logo5 {
  transition: transform 0.5s;
  height: 30px;
}
.logo6 {
  transition: transform 0.5s;
  height: 37px;
}
.logo1:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}
.logo2:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}
.logo3:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}
.logo4:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}
.logo5:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}
.logo6:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}
.all {
  margin-left: 1170px;
  margin-top: -58px;
   width: 145px;
  border-radius: 100px;
  background: white;
  border: 2px solid rgb(255, 0, 0);
  color: rgb(244, 6, 6);
  padding: 17px;
  padding-left: 40px;
  font-weight: 100px;
}


.all:hover {
  border: 1px solid white;
  background: linear-gradient(
    to right,
    rgb(233, 115, 115),
    rgb(224, 60, 35),
    rgb(248, 45, 45)
  );
  color: white;
}
.it{
    margin-top: 130px;
    margin-left: 190px;
    font-size: 44px;
}
.nemo{
    margin-top: 20px;
    margin-left: 190px;
    color: gray;
}

.imgcard1{
    padding: 10px;
    margin-top: 100px;
    margin-left: 200px;
height: 200px;
width: 350px;
}
.card33{
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.banch{
    
    font-size: 20px;
    margin-left: 225px;
}
.theme{
    margin-top: 18px;
    margin-left: 225px;
    color: gray;
}
.rupi{
    margin-top: 25px;
    margin-left: 225px;
    font-weight: 900;
}

.all2{
    margin-top: 90px;
    padding-bottom: 50px;
    padding-top: 10px;
    background: rgb(247, 246, 246);
}
.why{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 900;
}
.any{
    margin-top: 20px;
    font-size: 17px;
    margin-left: 420px;
    color: gray;
}
.the{
    margin-left: 150px;
}



.why1{

    margin-left: 600px;
    margin-top:90px;
    font-size: 40px;
    font-weight: 900;
}

.fla{
    margin-top: 190px;
    height: 100px;
    margin-left: 250px;
}
.hee{
    font-size: 60px;
    margin-left: 230px;
    margin-top: 10px;
}
.to{
    margin-top: 10px;
    margin-left: 260px;
}
.oo{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 290px   290px   290px   290px   290px ;
}
.all3{
  padding-top: 10px;
    background: rgb(247, 244, 244);
    padding-bottom: 80px;
}

.any30{
    margin-top: 30px;
    font-size: 17px;
    margin-left: 420px;
    color: gray;
}
.the{
    margin-left: 150px;
}
.img55{
    margin-left: 300px;
    margin-top: 70px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.bing{
    color: gray;
    margin-top: 20px;
    margin-left: 220px;
}
.ap{
    margin-left: 310px;
    color: red;
    font-size: 13px;
    margin-top: -17px;
    font-weight:600;
}
.be{
    font-size: 19px;
    margin-left: 210px;
    margin-top: 20px;
}
.ma{
    font-size: 17px;
    margin-left: 210px;
  
}
.is{
    color: gray;
    margin-left: 210px;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 100px;
}

.en{
  height: 90px;
  margin-top: 30px;
  margin-left: 120px;
}
.are{
  margin-left: 80px;
  margin-top: 30px;
  font-size: 18px;
  color: rgb(133, 96, 133);
}
.are1{
  margin-left: 100px;
  margin-top: 30px;
  font-size: 18px;
  color: rgb(84, 140, 158);
}
.are2{
  margin-left: 50px;
  margin-top: 30px;
  font-size: 18px;
  color: rgb(118, 184, 121);
}
.pp{
  margin-top: 90px;
  background: rgb(216, 214, 255);
  width: 340px;
  height: 300px;
  margin-left: 200px;
  border-radius: 10px;
}
.lorem{
  margin-top: 20px;
  text-align: center;
  font-size: 19px;
  color: rgb(162, 141, 162);
}
.you{
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.pp1{
  margin-top: 90px;
  background:rgb(208, 235, 255);
  width: 340px;
  height: 300px;
  margin-left: 200px;
  border-radius: 10px;
}

.pp2{
  margin-top: 90px;
  background:rgb(197, 255, 226);
  width: 340px;
  height: 300px;
  margin-left: 200px;
  border-radius: 10px;
}
.com{
  margin-top: 60px;
  grid-template-rows:  110px  110px  110px 110px  110px;
  margin-left: 240px;
  display: grid;
  grid-template-columns:  100px 100px  100px 100px  100px 100px  100px 100px 100px 100px ;
}

.ri{
  text-align: center;
  padding: 30px;
  color: white;
  background: #262020;
}