* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.jig{
  box-shadow: 1px 9px 9px rgb(237, 232, 232);
    height: 70px;
 
}
.logo90 {
  height: 30px;
  margin-top: 10px;
  margin-left: 200px;
  position: absolute;
}
.user{
  height: 30px;
  margin-left: -170px;
  margin-top: 10px;
}

.navbar {
  background-color: white;
  margin-left: 800px;
  margin-top: 30px;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  /* color: black; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home {
  font-size: 18px;
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.login {
  font-size: 18px;
  font-weight: 600;
  color: gray;
}
.acc {
  margin-left: 40px;
  width: 180px;
  border-radius: 100px;
  border: 2px solid red;
  color: red;
}

.navbar a {
  float: left;
  display: block;
  /* color: black; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}
